.f-elements {
  display: flex;

  &--header {
    align-items: center;
    justify-content: space-between;
  }

  &--center {
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
  }

  &--main {
    padding-right: 20px;
}

&--footer {
    text-align: center;
    padding-top: 20px;
}
&--responsive {
    flex-direction: column;
}

&--iconos {
    flex-direction: column;
}


}

@media (min-width:768px) {
    .f-elements--responsive {
        flex-direction: column;
    }
    .f-elements--iconos {
    flex-direction: row;
}
}